
# python -m coverage html --rcfile=testcoverage.rc --title="..."
# __version__ = '21.09.21'

[report]
exclude_lines =
    pragma: no cover
    no cover
    PYCHOK no cover
    except\s
    \sraise\s
    \._notOverloaded\(
    if False:
    if __name__ == .__main__.:
    if _FOR_DOCS:

include = pygeodesy/*.py
# omit = test/*.py

[html]
directory = testcoverage
